@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
:root
{
 --first-color: #f9bfbe;
--input-color: rgb(0, 0, 0);
--border-color: #14419d;
--body-font: 'New Roman', sans-serif;
--normal-font-size: 1rem;
--small-font-size: .75rem;
}
*,::before,::after{
box-sizing: border-box;
}
 
body{
margin: 0;
padding: 0;
font-family: var(--body-font);
font-size: var(--normal-font-size);
}
h1{
margin: 0;
}
 
 
 
 
.topnav{
 background:#f9bfbe;
 text-align:right;
 text-transform:uppercase;
 height:3cm;
}
.topnav ul{
 display:inline-flex;
 list-style:none;
}
 
.topnav ul li{
 font-size: 0.6cm;
 margin-top:25px;
 font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 text-decoration: none;
 text-transform: uppercase;
 text-align: right;
 padding:15px;
}
 
.topnav ul li a{
 text-decoration:none;
 color:black;
}
 
 
ul li a{
 text-decoration:none;
 padding:5px 20px;
 transition:0.5rem ease;
}
.topnav ul li a:hover{
 border:1px solid black;
 background:transparent;
 color:black;
 border-radius: 25px;
}
 
#logo{
/*  transform:translateX(-50%);*/
 
position:absolute;
margin : 0 auto;
width: 100px;
height:100px;
top:10px;
left: 0px;
margin-left:20px;
}
 
img {
 width: 1080px;
 height: 1000px;
 align-items: center;
 margin-left: 220px;
 margin-top: 60px;
overflow:hidden;
}
.submenu{
 display:none;
 position:relative;
 z-index:100;
}
 
 
.topnav ul li:hover .submenu{
 display:block;
 position:absolute;
 background:#fff9f9ef;
 margin-top:15px;
 margin-left:-15px;
}
 
.topnav ul li:hover .submenu ul{
 display:block;
}
 
.topnav ul li:hover .submenu ul li{
width:fit-content;
 padding:15px;
 background:transparent;
 text-align:center;
margin-top:10px;
margin-bottom: 10px;
top:0;
}
 
 
.topnav ul li:hover .submenu ul li a:hover{
 color:#2596be;
}
 
.eve{
 margin-top: 50px;
align-items: center;
 display: flex;
 justify-content: center;
}
 
.wedding,.Social,.corporate{
 height:8cm;
 width:10cm;
border-style:hidden;
font-family: Verdana, Geneva, Tahoma, sans-serif;
justify-content: center;
padding:20px;
 
}  
  /* Create two equal columns that floats next to each other */
  .column {
    float: left;     /* Should be removed. Only for demonstration */
    padding: 0;
    margin-bottom: 80px;
  }
  .one {
    width: 30%;
    margin-left: 70px;
  }
  .two{
    width: 60%;
    align-items: left;
    justify-content: left;
    text-align: left;
    margin-top: 60px;
    margin-left: 30px;
  }
 
 
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
 
 
  /*for form*/
  .l-form{
    padding-left: 30px;
    align-items: center;
    height: 100vh;
    background-color:  white/*rgb(221, 245, 255)*/;
    white-space: nowrap;
   }
   .empty {
       border: 2px solid black;
   }
   .form{
   width: 360px;
   padding: 4rem 2rem;
   border-radius: 1rem;
   box-shadow: 0 20px 35px rgba(0, 0, 0, 0.2);
   margin-top: 50px;
   background-color:#f9f4f4;
   }
   .form__title{
    display: flex;
   font-weight: 400;
   margin-bottom: 3rem;
   justify-content: center;
   align-items: center;
   }
   .form__div{
   position: relative;
   height: 48px;
   margin-bottom: 1.5rem;
   background-color: #f9f4f4;
   }
   .form__input{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   font-size: var(--normal-font-size);
   border: 2px solid #000;
   border-radius: .5rem;
   outline: none;
   padding: 1rem;
   background: none;
   z-index: 1;
   }
   .form__label{
   position: absolute;
   left: 1rem;
   top: 1rem;
   padding: 0 .25rem;
   background-color: #f9f4f4;
   color: var(--input-color);
   font-size: var(--normal-font-size);
   transition: .3s;
   }
   .form__button{
   display:block;
   background: black;
   color: white;
   padding: .75rem 2rem;
   text-align:center;
   margin-left: auto;
   border-radius: 25px;
   font-weight:bold;
   border:2px solid #f9f4f4;
   font-size: 1rem;
   cursor:pointer;
   transition:background .25s;
   }
   .form__button:hover{
   background: white;
   border:2px solid rgb(13, 12, 12);
   color:rgb(11, 12, 11);
   }
   
   .wrapper{
    display:inline-flex;
   }
   .wrapper .icon{
    margin:0 15px;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
    cursor:pointer;
   }
   .wrapper .icon span{
    position: relative;
    height:40px;
    width:40px;
    display:block;
    background:#fff;
    border-radius: 50%;
    text-align:center;
    z-index: 2;
    box-shadow:0 10px 10px rgba(0,0,0,0.1);
    transition:all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55) ease-in-out;
    text-decoration: none;
    color:black;
   }
   .wrapper .icon span i{
    font-size:15px;
    line-height:42px;
   }
   .wrapper.icon:hover span{
    color:#fff;
   }
   
   .wrapper .icon:hover span{
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
   }
   
   .wrapper .facebook:hover span{
   background:#3b5999;
   color:white;
   }
   
   .wrapper .instagram:hover span{
    background: #f12e7c;
    color:white;
   }
   .wrapper .pinterest:hover span{
    background: #E60023;
    color:white;
   }
   
   .wrapper .linked-in:hover span{
    background: #0A66C2;
    color:white;
   }
   
   
   .wrapper .twitter:hover span{
    background: #0A66C2;
    color:white;
   }
   
   
   .select:Service{
   display: block;
   margin-right: auto;
   text-align: center;
   width: 100%;
   padding: 12px 20px;
   border: 2px solid rgb(13, 12, 12);
   border-radius: 2px;
   box-sizing: border-box;
   }
   .form__input:focus + .form__label{
   top: -.5rem;
   left: .8rem;
   color: #2a67e0;
   font-size: var(--small-font-size);
   font-weight: 500;
   z-index: 10;
   }
   .form__input:not(:placeholder-shown).form__input:not(:focus)+ .form__label{
   top: -.5rem;
   left: .8rem;
   font-size: 1rem;
   font-weight: 500;
   z-index: 10;
   }
   .form__input:focus{
   border: 1.5px solid #2a67e0;
   }
   /*for footer*/
   .wrapper{
       display:inline-flex;
       margin-top:20px;
   }
   .wrapper .icon{
       margin:0 5px;
       display:flex;
       align-items:center;
       justify-content: center;
       flex-direction: column;
       position: relative;
       z-index: 2;
       cursor:pointer;
     
   }
   .wrapper .icon span{
       position: relative;
       height:40px;
       width:40px;
       display:block;
       background:transparent;
       border-radius: 50%;
       text-align:center;
       z-index: 2;
       box-shadow:0 10px 10px rgba(0,0,0,0.1);
       transition:all 0.4s cubic-bezier(0.68,-0.55,0.265,1.55) ease-in-out;
       text-decoration: none;
       color:white;
   }
   .wrapper .icon span i{
       font-size:15px;
       line-height:42px;
   }
   .wrapper.icon:hover span{
       color:#fff;
   }
   
   .wrapper .icon:hover span{
       text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
   }
   
   .wrapper .facebook:hover span{
   background:#3b5999;
   color:white;
   }
   
   .wrapper .instagram:hover span{
       background: #f12e7c;
       color:white;
   }
   .wrapper .pinterest:hover span{
       background: #E60023;
       color:white;
   }
   
   .wrapper .linked-in:hover span{
       background: #0A66C2;
       color:white;
   }
   
   
   .wrapper .twitter:hover span{
       background: #0A66C2;
       color:white;
   }
   
   footer {
       /* position: fixed; */
       bottom: 0;
   }
   
   @media (max-height:800px) {
       footer {
           position: static;
       }
   }
   
   .footer-distributed {
       background-color: #2d2a30;
       box-sizing: border-box;
       width: 100%;
       text-align: left;
       font: bold 16px sans-serif;
       padding: 50px 50px 60px 50px;
       margin-top: 80px;
   }
   
   .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
       display: inline-block;
       vertical-align: top;
   }
   
   /* Footer left */
   
   .footer-distributed .footer-left {
       width: 30%;
   }
   
   .footer-distributed h3 {
       color: #ffffff;
       font: normal 36px 'Cookie', cursive;
       margin: 0;
   }
   
   
   .footer-distributed h3 span {
       color: #ff9a98;
   }
   
   /* Footer links */
   
   .footer-distributed .footer-links {
       color: #ffffff;
       margin: 20px 0 12px;
   }
   
   .footer-distributed .footer-links a {
       display: inline-block;
       line-height: 1.8;
       text-decoration: none;
       color: inherit;
   }
   
   .footer-distributed .footer-company-name {
       color: #8f9296;
       font-size: 14px;
       font-weight: normal;
       margin: 0;
   }
   
   /* Footer Center */
   
   .footer-distributed .footer-center {
       width: 35%;
   }
   
   .footer-distributed .footer-center i {
       background-color: #33383b;
       color: #ffffff;
       font-size: 25px;
       width: 38px;
       height: 38px;
       border-radius: 50%;
       text-align: center;
       line-height: 42px;
       margin: 10px 15px;
       vertical-align: middle;
   }
   
   .footer-distributed .footer-center i.fa-envelope {
       font-size: 17px;
       line-height: 38px;
   }
   
   .footer-distributed .footer-center p {
       display: inline-block;
       color: #ffffff;
       vertical-align: middle;
       margin: 0;
   }
   
   .footer-distributed .footer-center p span {
       display: block;
       font-weight: normal;
       font-size: 14px;
       line-height: 2;
   }
   
   .footer-distributed .footer-center p a {
       color: rgb(166, 228, 255);
       text-decoration: none;
       ;
   }
   
   /* Footer Right */
   
   .footer-distributed .footer-right {
       width: 30%;
   }
   
   .footer-distributed .footer-company-about {
       line-height: 20px;
       color: #92999f;
       font-size: 13px;
       font-weight: normal;
       margin: 0;
   }
   
   .footer-distributed .footer-company-about span {
       display: block;
       color: #ffffff;
       font-size: 18px;
       font-weight: bold;
       margin-bottom: 20px;
   }
   
   .footer-distributed .footer-icons {
       margin-top: 25px;
   }
   
   .footer-distributed .footer-icons a {
       display: inline-block;
       width: 35px;
       height: 35px;
       cursor: pointer;
       background-color: #33383b;
       border-radius: 2px;
       font-size: 20px;
       color: #ffffff;
       text-align: center;
       line-height: 35px;
       margin-right: 3px;
       margin-bottom: 5px;
   }
   
   .footer-distributed .footer-icons a:hover {
       background-color: rgb(166, 228, 255);
   }
   
   .footer-links a:hover {
       color: rgb(166, 228, 255);
   }
   
   @media (max-width: 880px) {
       .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
           display: block;
           width: 100%;
           margin-bottom: 40px;
           text-align: center;
       }
       .footer-distributed .footer-center i {
           margin-left: 0;
       }
   }      
   
